*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding:20px 0px ;
}
.navbar__menu{
    display: flex;
    gap: 20px;
}
.navbar__menu a{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #394149;
}
.navbar__btn{
    border: 1px solid #F58A071A;
    border-radius: 31px;
    color: #F58A07;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
}